body {
    background: #141E30;
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    background: linear-gradient(-45deg,#35577D,#141E30);
    margin: 0;
    padding: 0;
}

em {
    border: 2px solid #466995;
    border-radius: 7px;
    padding: 15px;
}
.welcome {
    background-color: #DBE9EE;
    color: #466995;
    font-family: 'Oswald';
    opacity: 0.75;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    top: 200px;
    padding:40px;
}

.texts {
        margin: 10px 750px;
}

.fields {
    margin: auto 700px;
}

.btn{
    margin: auto 730px;
}

.headline {
    color: #466995;
    font-family: Georgia;
    width: 100%;
    padding-top: 2px;
    padding-right: 20px;
}
.post{
    background-color: #DBE9EE;
    margin: auto 100px;
    opacity: 0.65;
    border-radius: 5px;

}
.category {
    color:#466995;
    "color: rgba(165, 50, 255, 0.5);"
}

.datepublish {
       color:#466995;
      "color: rgba(165, 50, 255, 0.5);"

}

.tease {
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
}